.btn{
    background-color:map-get($btn , fondo ) ;
    border:map-get($btn , borde) ;
    border-radius:map-get($btn , radio ) ;
    color:map-get($btn , color ) ;        
}
.btn:hover{
    box-shadow: 9px 7px 16px 6px rgba(0,0,0,0.54);
    background-color: #2D9142;
    border: 1px solid #2D9142;
}
.btnAzucar{
    @extend .btn;
    @include propiedades(25px,10px,rgb(0, 0, 0))
}
.btnMaiz{
    @extend .btn;
    @include propiedades(25px,10px,#000)
}
.btnAlimento{
    @extend .btn;
    @include propiedades(25px,10px,#000)
}
.btnSnacks{
    @extend .btn;
    @include propiedades(25px,10px,#000)
}
