.footer{
    background-color: #017A1C;
    color: white;
    .pieh6{
        background-color: #014710;
        height: 40px;
        display: flex;
        align-items: flex-end;
        h6{
            font-size: 15px;
        
        }
    }
}