@mixin propiedades($margenes,$relleno,$colorLetra) {
    margin: $margenes;
    padding: $relleno;
    color: $colorLetra;
}
$h1:(
    letra: 50px,
    color: #017A1C,
    familia: "Caveat",
);
$btn: (
    fondo:  #017A1C,
    borde: 0,
    radio: 15px,
    color: #fff,
)